<div class="container">
  <div class="wrapper">
    <div class="logo">
      <a [routerLink]="['home']">
        <img src="assets/shared/desktop/logo copy.svg" alt="logoImg" />
      </a>
    </div>
    <div class="nav">
      <a [routerLink]="['home']">HOME</a>
      <a [routerLink]="['about']">ABOUT US</a>
      <a [routerLink]="['subscribe']">CREATE YOUR PLAN</a>
    </div>
  </div>
  <div class="social">
    <a href="">
      <img src="assets/shared/desktop/icon-facebook.svg" alt="facebookImg" />
    </a>
    <a href="">
      <img src="assets/shared/desktop/icon-instagram.svg" alt="instagramImg" />
    </a>
    <a href="">
      <img src="assets/shared/desktop/icon-twitter.svg" alt="twitterImg" />
    </a>
  </div>
</div>
