<div class="container">
  <div class="wrapper">
    <div class="logo">
      <a [routerLink]="['home']">
        <img src="assets/shared/desktop/logo copy.svg" alt="logoImg" />
      </a>
    </div>
    <div class="nav">
      <a [routerLink]="['home']">HOME</a>
      <a [routerLink]="['about']">ABOUT US</a>
      <a [routerLink]="['subscribe']">CREATE YOUR PLAN</a>
    </div>
  </div>
  <div class="social">
    <a href="https://sr-rs.facebook.com/danijel.osovnikar/" target="_blank">
      <img src="assets/shared/desktop/icon-facebook.svg" alt="facebookImg" />
    </a>
    <a
      href="https://www.instagram.com/danijel.o?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr"
      target="_blank"
    >
      <img src="assets/shared/desktop/icon-instagram.svg" alt="instagramImg" />
    </a>
    <a href="" target="_blank">
      <img src="assets/shared/desktop/icon-twitter.svg" alt="twitterImg" />
    </a>
  </div>
</div>
