<div class="container">
  <div class="hero">
    <div class="hero-text">
      <h2 class="mainHeading">Create plan</h2>
      <p class="mainParagraph">
        Coffee the way you wanted it to be. For coffee delivered tomorrow, or
        next week. For whatever brew method you use. For choice, for
        convenience, for quality.
      </p>
    </div>
    <div class="imageDivHero"></div>
  </div>
  <section class="first">
    <div class="firstWrapper">
      <div class="stepWrapper">
        <div class="group">
          <div class="line"></div>
          <div class="circle"></div>
          <h2 class="mainHeading">01</h2>
          <h3 class="smallHeading">Pick your coffee</h3>
          <p class="mainParagraph">
            Select from our evolving range of artisan coffees. Our beans are
            ethically sourced and we pay fair prices for them. There are new
            coffees in all profiles every month for you to try out.
          </p>
        </div>
        <div class="group">
          <div class="line"></div>
          <div class="circle"></div>
          <h2 class="mainHeading">02</h2>
          <h3 class="smallHeading">Choose the frequency</h3>
          <p class="mainParagraph">
            Customize your order frequency, quantity, even your roast style and
            grind type. Pause, skip or cancel your subscription with no
            commitment through our online portal.
          </p>
        </div>
        <div class="group">
          <div class="line" style="visibility: hidden"></div>
          <div class="circle"></div>
          <h2 class="mainHeading">03</h2>
          <h3 class="smallHeading">Receive and enjoy!</h3>
          <p class="mainParagraph">
            We ship your package within 48 hours, freshly roasted. Sit back and
            enjoy award-winning world-class coffees curated to provide a
            distinct tasting experience.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="subscribe">
    <div class="navColumn">
      <ul>
        <li>
          <p class="mainHeading"><span>01</span> Preferences</p>
        </li>
        <li>
          <p class="mainHeading"><span>02</span> Bean Type</p>
        </li>
        <li>
          <p class="mainHeading"><span>03</span> Quantity</p>
        </li>
        <li>
          <p id="grindOption" class="mainHeading">
            <span id="grindOptionSpan">04</span> Grind Option
          </p>
        </li>
        <li>
          <p class="mainHeading"><span>05</span> Deliveries</p>
        </li>
      </ul>
    </div>
    <div class="optionsColumn">
      <button (click)="toggleFunc($event)" class="accordion smallHeading">
        How do you drink your coffee?
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="13"
          viewBox="0 0 19 13"
          fill="none"
        >
          "
          <path
            d="M15.9486 12.5099L18.777 9.68146L9.68136 0.585796L0.585693 9.68146L3.41412 12.5099L9.68091 6.24267L15.9486 12.5099Z"
            fill="#0E8784"
          />
          "
        </svg>
      </button>
      <div class="panelWrapper" style="display: flex">
        <input
          type="radio"
          [formControl]="beverage"
          (change)="onChangeSummary()"
          (change)="isCapsule($event)"
          value="Capsule"
          name="beverage"
          id="capsule"
        />
        <label for="capsule">
          <div class="panel">
            <h4 class="mainHeading">Capsule</h4>
            <p class="cardParagraph">
              Compatible with Nespresso systems and similar brewers
            </p>
          </div>
        </label>
        <input
          type="radio"
          [formControl]="beverage"
          (change)="onChangeSummary()"
          (change)="noCapsule($event)"
          value="Filter"
          name="beverage"
          id="filter"
        />
        <label for="filter">
          <div class="panel">
            <h4 class="mainHeading">Filter</h4>
            <p class="cardParagraph">
              For pour over or drip methods like Aeropress, Chemex, and V60
            </p>
          </div>
        </label>
        <input
          type="radio"
          [formControl]="beverage"
          (change)="onChangeSummary()"
          (change)="noCapsule($event)"
          value="Espresso"
          name="beverage"
          id="espresso"
        />
        <label for="espresso">
          <div class="panel">
            <h4 class="mainHeading">Espresso</h4>
            <p class="cardParagraph">
              Dense and finely ground beans for an intense, flavorful experience
            </p>
          </div>
        </label>
      </div>
      <button (click)="toggleFunc($event)" class="accordion smallHeading">
        What type of coffee?
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="13"
          viewBox="0 0 19 13"
          fill="none"
        >
          <path
            d="M15.9486 0.585815L18.777 3.41424L9.68136 12.5099L0.585693 3.41424L3.41412 0.585815L9.68091 6.85303L15.9486 0.585815Z"
            fill="#0E8784"
          />
        </svg>
      </button>

      <div class="panelWrapper" style="display: none">
        <input
          type="radio"
          [formControl]="coffeeType"
          (change)="onChangeSummary()"
          value="Single Origin"
          name="coffeeType"
          id="singleOrigin"
        />
        <label for="singleOrigin">
          <div class="panel">
            <h4 class="mainHeading">Single Origin</h4>
            <p class="cardParagraph">
              Distinct, high quality coffee from a specific family-owned farm
            </p>
          </div>
        </label>
        <input
          type="radio"
          [formControl]="coffeeType"
          (change)="onChangeSummary()"
          value="Decaf"
          name="coffeeType"
          id="decaf"
        />
        <label for="decaf">
          <div class="panel">
            <h4 class="mainHeading">Decaf</h4>
            <p class="cardParagraph">
              Just like regular coffee, except the caffeine has been removed
            </p>
          </div>
        </label>
        <input
          type="radio"
          [formControl]="coffeeType"
          (change)="onChangeSummary()"
          value="Blended"
          name="coffeeType"
          id="blended"
        />
        <label for="blended">
          <div class="panel">
            <h4 class="mainHeading">Blended</h4>
            <p class="cardParagraph">
              Combination of two or three dark roasted beans of organic coffees
            </p>
          </div>
        </label>
      </div>
      <button (click)="toggleFunc($event)" class="accordion smallHeading">
        How much would you like?
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="13"
          viewBox="0 0 19 13"
          fill="none"
        >
          <path
            d="M15.9486 0.585815L18.777 3.41424L9.68136 12.5099L0.585693 3.41424L3.41412 0.585815L9.68091 6.85303L15.9486 0.585815Z"
            fill="#0E8784"
          />
        </svg>
      </button>
      <div class="panelWrapper" style="display: none">
        <input
          type="radio"
          [formControl]="howMuchCoffee"
          (change)="onChangeSummary()"
          (change)="priceCalcShipment()"
          value="250g"
          name="howMuchCoffee"
          id="quarter"
        />
        <label for="quarter">
          <div class="panel">
            <h4 class="mainHeading">250g</h4>
            <p class="cardParagraph">
              Perfect for the solo drinker. Yields about 12 delicious cups.
            </p>
          </div>
        </label>
        <input
          type="radio"
          [formControl]="howMuchCoffee"
          (change)="onChangeSummary()"
          (change)="priceCalcShipment()"
          value="500g"
          name="howMuchCoffee"
          id="half"
        />
        <label for="half"
          ><div class="panel">
            <h4 class="mainHeading">500g</h4>
            <p class="cardParagraph">
              Perfect option for a couple. Yields about 40 delectable cups.
            </p>
          </div>
        </label>
        <input
          type="radio"
          [formControl]="howMuchCoffee"
          (change)="onChangeSummary()"
          (change)="priceCalcShipment()"
          value="1000g"
          name="howMuchCoffee"
          id="full"
        />
        <label for="full">
          <div class="panel">
            <h4 class="mainHeading">1000g</h4>
            <p class="cardParagraph">
              Perfect for offices and events. Yields about 90 delightful cups.
            </p>
          </div>
        </label>
      </div>
      <button
        [disabled]="grindDisabled"
        (click)="toggleFunc($event)"
        class="accordion smallHeading"
        id="disabledButton"
      >
        Want us to grind them?
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="13"
          viewBox="0 0 19 13"
          fill="none"
        >
          <path
            d="M15.9486 0.585815L18.777 3.41424L9.68136 12.5099L0.585693 3.41424L3.41412 0.585815L9.68091 6.85303L15.9486 0.585815Z"
            fill="#0E8784"
          />
        </svg>
      </button>
      <div class="panelWrapper" style="display: none">
        <input
          type="radio"
          [formControl]="grind"
          (change)="onChangeSummary()"
          value="Wholebean"
          name="grind"
          id="wholeBean"
        />
        <label for="wholeBean">
          <div class="panel">
            <h4 class="mainHeading">Wholebean</h4>
            <p class="cardParagraph">
              Best choice if you cherish the full sensory experience
            </p>
          </div>
        </label>
        <input
          type="radio"
          [formControl]="grind"
          (change)="onChangeSummary()"
          value="Filter"
          name="grind"
          id="filterGrind"
        />
        <label for="filterGrind">
          <div class="panel">
            <h4 class="mainHeading">Filter</h4>
            <p class="cardParagraph">
              For drip or pour-over coffee methods such as V60 or Aeropress
            </p>
          </div>
        </label>
        <input
          type="radio"
          [formControl]="grind"
          (change)="onChangeSummary()"
          value="Cafetiére"
          name="grind"
          id="cafetiere"
        />
        <label for="cafetiere">
          <div class="panel">
            <h4 class="mainHeading">Cafetiére</h4>
            <p class="cardParagraph">
              Course ground beans specially suited for french press coffee
            </p>
          </div>
        </label>
      </div>
      <button (click)="toggleFunc($event)" class="accordion smallHeading">
        How often should we deliver?
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="13"
          viewBox="0 0 19 13"
          fill="none"
        >
          <path
            d="M15.9486 0.585815L18.777 3.41424L9.68136 12.5099L0.585693 3.41424L3.41412 0.585815L9.68091 6.85303L15.9486 0.585815Z"
            fill="#0E8784"
          />
        </svg>
      </button>
      <div class="panelWrapper" style="display: none">
        <input
          type="radio"
          [formControl]="delivery"
          (change)="onChangeSummary()"
          value="Every week"
          name="delivery"
          id="everyWeek"
        />
        <label for="everyWeek">
          <div class="panel">
            <h4 class="mainHeading">Every week</h4>
            <p class="cardParagraph">
              ${{ priceForWeek }} per shipment. Includes free first-class
              shipping.
            </p>
          </div>
        </label>
        <input
          type="radio"
          [formControl]="delivery"
          (change)="onChangeSummary()"
          value="Every 2 weeks"
          name="delivery"
          id="twoWeeks"
        />
        <label for="twoWeeks">
          <div class="panel">
            <h4 class="mainHeading">Every 2 weeks</h4>
            <p class="cardParagraph">
              ${{ priceForTwoWeeks }} per shipment. Includes free priority
              shipping.
            </p>
          </div>
        </label>
        <input
          type="radio"
          [formControl]="delivery"
          (change)="onChangeSummary()"
          value="Every month"
          name="delivery"
          id="everyMonth"
        />
        <label for="everyMonth">
          <div class="panel">
            <h4 class="mainHeading">Every month</h4>
            <p class="cardParagraph">
              ${{ priceForMonth }} per shipment. Includes free priority
              shipping.
            </p>
          </div>
        </label>
      </div>
      <div class="summary">
        <div class="order">
          <h2>Order Summary</h2>
          <p *ngIf="grindDisabled">
            “I drink my coffee using <span class="beverage">Capsules</span>,
            with a <span class="coffeeType">_____</span> type of bean.
            <span class="howMuchCoffee">_____</span> , sent to me
            <span class="delivery">_____</span>.”
          </p>
          <p *ngIf="!grindDisabled">
            “I drink my coffee as <span class="beverage"></span>, with a
            <span class="coffeeType">_____</span> type of bean.
            <span class="howMuchCoffee">_____</span>
            ground ala <span class="grinded">_____</span>, sent to me
            <span class="delivery">_____</span>.”
          </p>
        </div>
      </div>
      <div class="submitButton">
        <button
          (click)="onClick()"
          (click)="finalPriceCalc()"
          (click)="open()"
          class="submit"
        >
          Create my plan!
        </button>
      </div>
    </div>
  </section>
</div>
