<div class="container">
  <div class="hero">
    <div class="hero-text">
      <h2 class="mainHeading">Create plan</h2>
      <p class="mainParagraph">
        Coffee the way you wanted it to be. For coffee delivered tomorrow, or
        next week. For whatever brew method you use. For choice, for
        convenience, for quality.
      </p>
    </div>
    <img
      src="assets/plan/desktop/image-hero-blackcup.jpg"
      alt="heroImg"
      width="100%"
    />
  </div>
  <section class="first">
    <div class="firstWrapper">
      <div class="line">
        <div class="circle"></div>

        <div class="circle"></div>

        <div class="circle"></div>
      </div>
      <div class="stepWrapper">
        <div class="group">
          <h2 class="mainHeading">01</h2>
          <h3 class="smallHeading">Pick your coffee</h3>
          <p class="mainParagraph">
            Select from our evolving range of artisan coffees. Our beans are
            ethically sourced and we pay fair prices for them. There are new
            coffees in all profiles every month for you to try out.
          </p>
        </div>
        <div class="group">
          <h2 class="mainHeading">02</h2>
          <h3 class="smallHeading">Choose the frequency</h3>
          <p class="mainParagraph">
            Customize your order frequency, quantity, even your roast style and
            grind type. Pause, skip or cancel your subscription with no
            commitment through our online portal.
          </p>
        </div>
        <div class="group">
          <h2 class="mainHeading">03</h2>
          <h3 class="smallHeading">Receive and enjoy!</h3>
          <p class="mainParagraph">
            We ship your package within 48 hours, freshly roasted. Sit back and
            enjoy award-winning world-class coffees curated to provide a
            distinct tasting experience.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="subscribe">
    <div class="navColumn">
      <ul>
        <li>
          <p class="mainHeading"><span>01</span> Preferences</p>
        </li>
        <li>
          <p class="mainHeading"><span>02</span> Bean Type</p>
        </li>
        <li>
          <p class="mainHeading"><span>03</span> Quantity</p>
        </li>
        <li>
          <p class="mainHeading"><span>04</span> Grind Option</p>
        </li>
        <li>
          <p class="mainHeading"><span>05</span> Deliveries</p>
        </li>
      </ul>
    </div>
    <div class="optionsColumn">
      <button (click)="toggleFunc($event)" class="accordion smallHeading">
        How do you drink your coffee?
      </button>
      <div class="panelWrapper" style="display: flex; max-height: 320px">
        <input type="radio" name="beverage" id="capsule" />
        <label for="capsule">
          <div class="panel">
            <h4 class="mainHeading">Capsule</h4>
            <p class="cardParagraph">
              Compatible with Nespresso systems and similar brewers
            </p>
          </div>
        </label>
        <input type="radio" name="beverage" id="filter" />
        <label for="filter">
          <div class="panel">
            <h4 class="mainHeading">Filter</h4>
            <p class="cardParagraph">
              For pour over or drip methods like Aeropress, Chemex, and V60
            </p>
          </div>
        </label>
        <input type="radio" name="beverage" id="espresso" />
        <label for="espresso">
          <div class="panel">
            <h4 class="mainHeading">Espresso</h4>
            <p class="cardParagraph">
              Dense and finely ground beans for an intense, flavorful experience
            </p>
          </div>
        </label>
      </div>
      <button (click)="toggleFunc($event)" class="accordion smallHeading">
        What type of coffee?
      </button>
      <div class="panelWrapper" style="display: none">
        <input type="radio" name="coffeeType" id="singleOrigin" />
        <label for="singleOrigin">
          <div class="panel">
            <h4 class="mainHeading">Single Origin</h4>
            <p class="cardParagraph">
              Distinct, high quality coffee from a specific family-owned farm
            </p>
          </div>
        </label>
        <input type="radio" name="coffeeType" id="decaf" />
        <label for="decaf">
          <div class="panel">
            <h4 class="mainHeading">Decaf</h4>
            <p class="cardParagraph">
              Just like regular coffee, except the caffeine has been removed
            </p>
          </div>
        </label>
        <input type="radio" name="coffeeType" id="blended" />
        <label for="blended">
          <div class="panel">
            <h4 class="mainHeading">Blended</h4>
            <p class="cardParagraph">
              Combination of two or three dark roasted beans of organic coffees
            </p>
          </div>
        </label>
      </div>
      <button (click)="toggleFunc($event)" class="accordion smallHeading">
        How much would you like?
      </button>
      <div class="panelWrapper" style="display: none">
        <input type="radio" name="howMuchCoffee" id="quarter" />
        <label for="quarter">
          <div class="panel">
            <h4 class="mainHeading">250g</h4>
            <p class="cardParagraph">
              Perfect for the solo drinker. Yields about 12 delicious cups.
            </p>
          </div>
        </label>
        <input type="radio" name="howMuchCoffee" id="half" />
        <label for="half"
          ><div class="panel">
            <h4 class="mainHeading">500g</h4>
            <p class="cardParagraph">
              Perfect option for a couple. Yields about 40 delectable cups.
            </p>
          </div>
        </label>
        <input type="radio" name="howMuchCoffee" id="full" />
        <label for="full">
          <div class="panel">
            <h4 class="mainHeading">1000g</h4>
            <p class="cardParagraph">
              Perfect for offices and events. Yields about 90 delightful cups.
            </p>
          </div>
        </label>
      </div>
      <button (click)="toggleFunc($event)" class="accordion smallHeading">
        Want us to grind them?
      </button>
      <div class="panelWrapper" style="display: none">
        <input type="radio" name="grind" id="wholeBean" />
        <label for="wholeBean">
          <div class="panel">
            <h4 class="mainHeading">Wholebean</h4>
            <p class="cardParagraph">
              Best choice if you cherish the full sensory experience
            </p>
          </div>
        </label>
        <input type="radio" name="grind" id="filter" />
        <label for="filter">
          <div class="panel">
            <h4 class="mainHeading">Filter</h4>
            <p class="cardParagraph">
              For drip or pour-over coffee methods such as V60 or Aeropress
            </p>
          </div>
        </label>
        <input type="radio" name="grind" id="cafetiere" />
        <label for="cafetiere">
          <div class="panel">
            <h4 class="mainHeading">Cafetiére</h4>
            <p class="cardParagraph">
              Course ground beans specially suited for french press coffee
            </p>
          </div>
        </label>
      </div>
      <button (click)="toggleFunc($event)" class="accordion smallHeading">
        How often should we deliver?
      </button>
      <div class="panelWrapper" style="display: none">
        <input type="radio" name="delivery" id="everyWeek" />
        <label for="everyWeek">
          <div class="panel">
            <h4 class="mainHeading">Every week</h4>
            <p class="cardParagraph">
              $7.20 per shipment. Includes free first-class shipping.
            </p>
          </div>
        </label>
        <input type="radio" name="delivery" id="twoWeeks" />
        <label for="twoWeeks">
          <div class="panel">
            <h4 class="mainHeading">Every 2 weeks</h4>
            <p class="cardParagraph">
              $9.60 per shipment. Includes free priority shipping.
            </p>
          </div>
        </label>
        <input type="radio" name="delivery" id="everyMonth" />
        <label for="everyMonth">
          <div class="panel">
            <h4 class="mainHeading">Every month</h4>
            <p class="cardParagraph">
              $12.00 per shipment. Includes free priority shipping.
            </p>
          </div>
        </label>
      </div>
      <div class="summary">
        <div class="order">
          <h2>Order Summary</h2>
          <p>
            “I drink my coffee using <span>Capsules</span>, with a
            <span>_____</span> type of bean. <span>_____</span> , sent to me
            <span>_____</span>.”
          </p>
        </div>
      </div>
      <div class="submitButton">
        <button class="submit">Create my plan!</button>
      </div>
    </div>
  </section>
</div>
