@import "src/scss/_vars.scss";
@import "src/scss/_mixin.scss";

.mainHeading {
  color: $lightCreamyBg;
  font-family: $fraunces;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 4.5rem;
}
.smallHeading {
  color: #83888f;
  font-family: $fraunces;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3rem;
}
.mainParagraph {
  color: $lightCreamyBg;
  font-family: $barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 2rem;
}
.cardParagraph {
  color: $darkGrayBlue;
  font-family: $barlow;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

.container {
  margin-top: 2.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  --bs-gutter-x: 0;
  .hero {
    width: 100%;
    .hero-text {
      float: inline-start;
      margin: 6rem 3rem;
      p {
        width: 28rem;
      }
    }
    .imageDivHero {
      border-radius: 1rem;
      background-image: image-set(
        "assets/plan/desktop/image-hero-blackcup.jpg"
      );
      width: 100%;
      height: 25rem;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .first {
    width: 100%;
    margin-top: 8rem;
  }
  .subscribe {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
  }
}

.firstWrapper {
  background-color: $darkGrayBlue;
  border-radius: 1rem;
  width: 100%;
  height: 100%;

  .stepWrapper {
    // width: 100%;
    margin-left: 5rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 2.5rem 0;

    .group {
      .line {
        background-color: $paleOrange;
        height: 2px;
        width: 126%;
        margin-left: 1.8rem;
      }
      .circle {
        position: relative;
        top: -16px;
        width: 30px;
        height: 30px;
        border: 2px solid #0e8784;
        background-color: $darkGrayBlue;
        border-radius: 50%;

        &:first-of-type {
          position: relative;
          left: -15px;
        }

        &:last-of-type {
          position: relative;
          left: 15px;
        }
      }
    }

    .group:first-of-type {
      width: 24%;
      margin-top: 3rem;
      h2 {
        color: $paleOrange;
      }
      h3 {
        font-size: 2rem;
        line-height: 2.25rem;
        color: $lightCreamyBg;
        width: 100%;
        margin: 2.28rem 0;
      }
      p {
        width: 100%;
      }
    }
    .group:nth-of-type(2) {
      width: 24%;
      position: relative;
      left: 5rem;
      margin-top: 3rem;
      h2 {
        color: $paleOrange;
        width: 100%;
      }
      h3 {
        font-size: 2rem;
        line-height: 2.25rem;
        color: $lightCreamyBg;
        margin: 2.28rem 0;
      }
      p {
        width: 100%;
      }
    }
    .group:last-of-type {
      width: 30%;
      position: relative;
      left: 10rem;
      margin-top: 3rem;
      h2 {
        color: $paleOrange;
      }
      h3 {
        margin: 2.28rem 0;
        font-size: 2rem;
        line-height: 2.25rem;
        color: $lightCreamyBg;
        width: 80%;
      }
      p {
        width: 80%;
      }
    }
  }
}

.navColumn {
  width: 20%;
  ul {
    list-style: none;
    li {
      padding: 1rem 0;
      border-bottom: 1px solid #83888f;
      width: 100%;

      &:hover {
        cursor: pointer;
      }

      .buttonDisabled {
        color: #bebebf;
      }
      p {
        color: $darkGrayBlue;
        font-size: 1.5rem;
        line-height: 2rem;
        span {
          color: #0e8784;
        }
      }
    }
  }
}

.optionsColumn {
  width: 70%;

  .accordion {
    background: transparent;
    font-size: 2rem;
    line-height: 2.25rem;
    cursor: pointer;
    padding: 18px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
  }
  .panelWrapper {
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    &:first-of-type {
      max-height: 320px;
    }
  }
}
label {
  width: 30%;
  margin-right: 1rem;
}

.panel {
  width: 100%;
  height: 18rem;
  background-color: #f4f1eb;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: #fdd6ba;
  }

  &:first-child {
    margin: 1rem 1rem 1rem 0;
  }

  h4 {
    color: $darkGrayBlue;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 75%;
    margin: 1.75rem 0;
  }
  p {
    width: 75%;
  }
}

.summary {
  width: 100%;
  height: 12rem;
  margin: 2rem 0;
  background-color: $darkGrayBlue;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .order {
    width: 80%;

    h2 {
      color: #83888f;
      font-family: $barlow;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.625rem;
      text-transform: uppercase;
    }
    p {
      color: $lightCreamyBg;
      font-family: $fraunces;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 900;
      line-height: 2.5rem;
      span {
        color: #0e8784;
        font-size: 1.5rem;
      }
    }
  }
}

.submitButton {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: flex-end;

  .submit {
    width: 15rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: none;
    color: $lightCreamyBg;
    background-color: #0e8784;
    font-family: $fraunces;
    font-weight: 900;
    font-size: 1.125rem;
    &:hover {
      cursor: pointer;
      background-color: #66d2cf;
    }
  }
}

.panelActive {
  @include panel;
}

.buttonDisabled {
  color: #bebebf;
}
input {
  display: none;
}
input[id="capsule"]:checked + label[for="capsule"] .panel,
input[id="filter"]:checked + label[for="filter"] .panel,
input[id="espresso"]:checked + label[for="espresso"] .panel,
input[id="singleOrigin"]:checked + label[for="singleOrigin"] .panel,
input[id="decaf"]:checked + label[for="decaf"] .panel,
input[id="blended"]:checked + label[for="blended"] .panel,
input[id="quarter"]:checked + label[for="quarter"] .panel,
input[id="half"]:checked + label[for="half"] .panel,
input[id="full"]:checked + label[for="full"] .panel,
input[id="wholeBean"]:checked + label[for="wholeBean"] .panel,
input[id="filterGrind"]:checked + label[for="filterGrind"] .panel,
input[id="cafetiere"]:checked + label[for="cafetiere"] .panel,
input[id="everyWeek"]:checked + label[for="everyWeek"] .panel,
input[id="twoWeeks"]:checked + label[for="twoWeeks"] .panel,
input[id="everyMonth"]:checked + label[for="everyMonth"] .panel {
  @include panel;
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .firstWrapper {
    .stepWrapper {
      .group {
        .line {
          width: 140%;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .navColumn {
    display: none;
  }
  .optionsColumn {
    width: 100%;
  }
  .submitButton {
    justify-content: center;
  }
  .container {
    .subscribe {
      width: 100%;
      margin-top: 4rem;
    }
  }
  .firstWrapper {
    .stepWrapper {
      margin-left: 2rem;
      .group {
        .line {
          margin-left: 0.8rem;
          width: 150%;
        }
        .circle {
          left: 0px;
          &:first-of-type {
            left: 0px;
          }

          &:last-of-type {
            position: relative;
            left: 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
  .navColumn {
    display: none;
  }
  .optionsColumn {
    width: 100%;
  }
  .submitButton {
    justify-content: center;
  }
  .container {
    .subscribe {
      width: 100%;
      margin-top: 4rem;
    }
    .hero {
      .hero-text {
        h2 {
          font-size: 3rem;
        }
        p {
          width: 20rem;
        }
      }
      .imageDivHero {
        background-image: image-set(
          "assets/plan/tablet/image-hero-blackcup.jpg"
        );
      }
    }
    .firstWrapper {
      .stepWrapper {
        margin: unset;
        .group {
          text-align: center;
          width: 100%;
          margin-top: unset;
          p {
            padding: 0 4rem;
          }
          &:nth-of-type(2) {
            left: 0px;
            margin: 1.5rem 0;
          }

          &:last-of-type {
            left: 0px;
            margin: 1.5rem 0;
            h3 {
              width: 100%;
            }
            p {
              width: 100%;
            }
          }
          .line {
            display: none;
          }
          .circle {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .navColumn {
    display: none;
  }
  .submitButton {
    justify-content: center;
  }
  .container {
    .subscribe {
      width: 100%;
      margin-top: 4rem;
    }
    .hero {
      .hero-text {
        width: 100%;
        margin: 12rem 0;
        text-align: center;
        h2 {
          width: 100%;
          font-size: 3.55rem;
        }
        p {
          padding: 0 3rem;
          width: 100%;
        }
      }
      .imageDivHero {
        background-image: image-set(
          "assets/plan/mobile/image-hero-blackcup.jpg"
        );
        height: 40rem;
      }
    }
  }
  .firstWrapper {
    .stepWrapper {
      margin: unset;
      .group {
        text-align: center;
        width: 100%;
        margin-top: unset;
        p {
          padding: 0 4rem;
        }
        &:first-of-type {
          width: 100%;
        }
        &:nth-of-type(2) {
          left: 0px;
          margin: 1.5rem 0;
          width: 100%;
        }

        &:last-of-type {
          left: 0px;
          margin: 1.5rem 0;
          width: 100%;
          h3 {
            width: 100%;
          }
          p {
            width: 100%;
          }
        }
        .line {
          display: none;
        }
        .circle {
          display: none;
        }
      }
    }
  }

  .optionsColumn {
    width: 100%;
    .panelWrapper {
      flex-wrap: wrap;

      &:first-of-type {
        max-height: 564px;
      }
    }
  }
  label {
    width: 100%;
  }
  .panel {
    height: unset;
  }
  input[id="capsule"]:checked + label[for="capsule"] .panel,
  input[id="filter"]:checked + label[for="filter"] .panel,
  input[id="espresso"]:checked + label[for="espresso"] .panel,
  input[id="singleOrigin"]:checked + label[for="singleOrigin"] .panel,
  input[id="decaf"]:checked + label[for="decaf"] .panel,
  input[id="blended"]:checked + label[for="blended"] .panel,
  input[id="quarter"]:checked + label[for="quarter"] .panel,
  input[id="half"]:checked + label[for="half"] .panel,
  input[id="full"]:checked + label[for="full"] .panel,
  input[id="wholeBean"]:checked + label[for="wholeBean"] .panel,
  input[id="filterGrind"]:checked + label[for="filterGrind"] .panel,
  input[id="cafetiere"]:checked + label[for="cafetiere"] .panel,
  input[id="everyWeek"]:checked + label[for="everyWeek"] .panel,
  input[id="twoWeeks"]:checked + label[for="twoWeeks"] .panel,
  input[id="everyMonth"]:checked + label[for="everyMonth"] .panel {
    @include panelMobile;
  }
  .summary {
    height: 20rem;
  }
}
